<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--<property name="hibernate.connection.url">jdbc:mysql://b4a33bd6583aef:ff16957b@eu-cdbr-west-02.cleardb.net/heroku_3516d96384896f5?reconnect=true</property>
        <property name="hibernate.connection.username">b4a33bd6583aef</property>
        <property name="hibernate.connection.password">ff16957b</property>
        <property name="hibernate.connection.pool_size">30</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>-->
        
        <property name="hibernate.connection.url">jdbc:mysql://vlvlnl1grfzh34vj.chr7pe7iynqr.eu-west-1.rds.amazonaws.com/deed2auv4cn33pxa</property>
        <property name="hibernate.connection.username">ivru08f50uyfxuub</property>
        <property name="hibernate.connection.password">lcjkvisaerjx81ro</property>
        <property name="hibernate.connection.pool_size">30</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        
        <mapping class="com.stoktakip.domain.User" />
        <mapping class="com.stoktakip.domain.Urun" />
        <mapping class="com.stoktakip.domain.Kategoriler" />
        <mapping class="com.stoktakip.domain.Stok" />
        <mapping class="com.stoktakip.domain.Cari" />
        <mapping class="com.stoktakip.domain.CariHareketleri" />
        <mapping class="com.stoktakip.domain.Kasa" />
    </session-factory>
</hibernate-configuration>
